* {
  box-sizing: border-box;
}

$titlecolor: hsl(300, 43%, 22%);

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Nunito:wght@300;700&display=swap");

body {
  font-family: "League Spartan", sans-serif;
}

.h1 {
  color: $titlecolor;
  font-weight: 1000;
  text-align: center;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 2.3rem;
  font-size: 2rem;
}

.h1-p-subtitle {
  text-align: center;
  color: hsl(303, 10%, 53%);
  font-size: 1.1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.ul-ratings {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
}

.list {
  background-color: hsl(300, 24%, 96%);
  border-radius: 1rem;
  width: 300px;
  padding-block: 0.5rem;
  margin-bottom: 1rem;
}
.story {
  background-color: $titlecolor;
  color: white;
  padding-left: 2rem;
  padding-right: 3rem;
  border-radius: 1rem;
}
